$color-light: #c5c5c5;
$color-dark: #2c2a2a;

$color-light-grey: #8f8f8f;
$color-mid-grey: #6b6a6a;
$color-dark-grey: #4d4c4c;

a {
  transition: color .1s;
}

a,
a:active,
a:visited,
label,
label:focus,
label:active {
  color: $color-mid-grey;
  outline: none;
}

a:hover,
label:hover {
  color: $color-light;
}
