@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800,900&subset=latin-ext);

html {
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  line-height: 36px;
}

body {
  font-size: 0.5rem;
  line-height: 1.618em;
}

h1 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.05;
  text-transform: uppercase;
  margin: 0;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

